<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Bienvenidos</title>
</head>
<body>

    <h1 align="center">Menú</h1>

    <div class="container" align="center">
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item" style="background-color:black;color:white"><b>Entradas</b></a>
                    <a class="list-group-item list-group-item-action" id="list-EntradaA-list" data-toggle="list" href="#list-EntradaAPrecioYDesc" role="tab" aria-controls="EntradaA">Ensalada César</a>
                    <a class="list-group-item list-group-item-action" id="list-EntradaB-list" data-toggle="list" href="#list-EntradaBPrecioYDesc" role="tab" aria-controls="EntradaB">Ensalada Coleslaw</a>
                    <a class="list-group-item list-group-item-action" id="list-EntradaC-list" data-toggle="list" href="#list-EntradaCPrecioYDesc" role="tab" aria-controls="EntradaC">Alitas de pollo</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="list-EntradaAPrecioYDesc" role="tabpanel" aria-labelledby="list-EntradaA-list">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/Images/EnsaladaCesar.jpg" class="card-img" alt="Ensalada César">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">$50</h4>
                                        <p class="card-text">
                                            Ensalada César Ensalada César Ensalada CésarEnsalada César Ensalada César Ensalada César Ensalada César Ensalada César Ensalada César Ensalada César Ensalada César
                                            Ensalada César Ensalada César Ensalada César Ensalada César Ensalada César Ensalada César Ensalada César Ensalada César Ensalada César Ensalada César Ensalada César
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-EntradaBPrecioYDesc" role="tabpanel" aria-labelledby="list-EntradaB-list">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/Images/EnsaladaColeslaw.jpg" class="card-img" alt="Ensalada Coleslaw">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">$100</h4>
                                        <p class="card-text">
                                            Ensalada Coleslaw Ensalada Coleslaw Ensalada ColeslawEnsalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw
                                            Ensalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw Ensalada Coleslaw
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-EntradaCPrecioYDesc" role="tabpanel" aria-labelledby="list-EntradaC-list">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/Images/AlitasDePollo.jpg" class="card-img" alt="Alitas de pollo">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">$150</h4>
                                        <p class="card-text">
                                            Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo
                                            Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo Alitas de pollo Alitas de polloAlitas de pollo Alitas de pollo
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item" style="background-color:black;color:white"><b>Principales</b></a>
                    <a class="list-group-item list-group-item-action" id="list-PrincipalA-list" data-toggle="list" href="#list-PrincipalAPrecioYDesc" role="tab" aria-controls="PrincipalA">Ravioles de ricota</a>
                    <a class="list-group-item list-group-item-action" id="list-PrincipalB-list" data-toggle="list" href="#list-PrincipalBPrecioYDesc" role="tab" aria-controls="PrincipalB">Suprema de pollo con puré</a>
                    <a class="list-group-item list-group-item-action" id="list-PrincipalC-list" data-toggle="list" href="#list-PrincipalCPrecioYDesc" role="tab" aria-controls="PrincipalC">Bife de chorizo</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="list-PrincipalAPrecioYDesc" role="tabpanel" aria-labelledby="list-PrincipalA-list">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/Images/RaviolesDeRicotta.jpg" class="card-img" alt="Ravioles de ricota">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">$50</h4>
                                        <p class="card-text">
                                            Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota
                                            Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota Ravioles de ricota
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-PrincipalBPrecioYDesc" role="tabpanel" aria-labelledby="list-PrincipalB-list">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/Images/SupremaDePolloConPure.jpg" class="card-img" alt="Suprema de pollo con puré">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">$100</h4>
                                        <p class="card-text">
                                            Suprema de pollo con puré Suprema de pollo con puré Suprema de pollo con puré Suprema de pollo con puré Suprema de pollo con puré Suprema de pollo con puré
                                            Suprema de pollo con puré Suprema de pollo con puré Suprema de pollo con puré Suprema de pollo con puré Suprema de pollo con puré Suprema de pollo con puré
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-PrincipalCPrecioYDesc" role="tabpanel" aria-labelledby="list-PrincipalC-list">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/Images/BifeDeChorizo.jpg" class="card-img" alt="Bife de chorizo">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">$150</h4>
                                        <p class="card-text">
                                            Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo
                                            Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo Bife de chorizo
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item" style="background-color:black;color:white"><b>Postres</b></a>
                    <a class="list-group-item list-group-item-action" id="list-PostreA-list" data-toggle="list" href="#list-PostreAPrecioYDesc" role="tab" aria-controls="PostreA">Flan con dulce de leche</a>
                    <a class="list-group-item list-group-item-action" id="list-PostreB-list" data-toggle="list" href="#list-PostreBPrecioYDesc" role="tab" aria-controls="PostreB">Helado</a>
                    <a class="list-group-item list-group-item-action" id="list-PostreC-list" data-toggle="list" href="#list-PostreCPrecioYDesc" role="tab" aria-controls="PostreC">Mousse de chocolate</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="list-PostreAPrecioYDesc" role="tabpanel" aria-labelledby="list-PostreA-list">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/Images/FlanConDulceDeLeche.jpg" class="card-img" alt="Flan con dulce de leche">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">$50</h4>
                                        <p class="card-text">
                                            Flan con dulce de leche Flan con dulce de leche Flan con dulce de leche Flan con dulce de leche Flan con dulce de leche Flan con dulce de leche Flan con dulce de leche
                                            Flan con dulce de leche Flan con dulce de lecheFlan con dulce de leche Flan con dulce de leche Flan con dulce de leche Flan con dulce de leche Flan con dulce de leche
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-PostreBPrecioYDesc" role="tabpanel" aria-labelledby="list-PostreB-list">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/Images/Helado.jpg" class="card-img" alt="Helado">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">$100</h4>
                                        <p class="card-text">
                                            Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado
                                            Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado Helado
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-PostreCPrecioYDesc" role="tabpanel" aria-labelledby="list-PostreC-list">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/Images/MousseDeChocolate.jpg" class="card-img" alt="Mousse de chocolate">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">$150</h4>
                                        <p class="card-text">
                                            Mousse de chocolate Mousse de chocolate Mousse de chocolate Mousse de chocolate Mousse de chocolate Mousse de chocolate Mousse de chocolate Mousse de chocolate
                                            Mousse de chocolate Mousse de chocolate Mousse de chocolate Mousse de chocolate Mousse de chocolate Mousse de chocolate Mousse de chocolate Mousse de chocolate
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                var x = document.getElementsByClassName("list-group-item list-group-item-action active");
                if (x.length > 0) {
                    alert(x.length);
                }

            })
        </script>
    </div>
</body>
</html>